body{
    background-image:"girl.jpg" width="400" height="400";
background-color:aquamarine;
}
#house1.jpg{
    width:200px;
    height:200px;
}
#house2.jpg{
    width:200px;
    height:200px;
}
#house3.jpg{
    width:200px;
    height:200px;
}
#house4.jpg{
    width:200px;
    height:200px;
}